<html>
<head>
<script type="application/javascript" th:src="@{/js/jquery/jquery-1.12.1.min.js}"></script>
<script type="application/javascript" th:src="@{/js/login.js}"></script>
</head>
<body>
<h1>login</h1>

<lable for="loginName">name:</lable>
<input id="loginName" name = "loginName" />
<br/>
<br/>
<lable for="password">name:</lable>
<input id="password" name = "password" />
<br/>
<br/>
<br/>
<button id="doLogin" onClick="doLogin();">doLogin</button>
<button id="reset" onClick="reset();">reset</button>
<br/><br/>
</body>
</html>
